
  a {
    color:black;
    text-decoration:none;
    margin:0px;
  }
  ol{
    border-right:2px grey solid;
    width:100px;
    padding:5;
    margin:0px;
  }
  li{
    padding:2px;
  }
  h1{
    font-size:50px;
    text-align: center;
    border-bottom:2px solid grey;
    padding-left: 0px;
    margin:0px;
    outline-offset:0px;
  }
  div {
    display:grid;
    grid-template-columns:150px 1fr;
  }
  .present{
    color:skyblue;
  }
  @media(max-width:600px){
    #grid{
      display:block;
    }
    h1{
      border-bottom:none;
    }
    ol{
      border-right:none;
    }
    h2{
      margin:20px;
      width:20px;
    }

  }
